extends layout.pug

block layout-content
  link(rel="stylesheet" text="text/css" href="/static/css/index.css")

  div.productdetail
    div.product__left
      div.product__image
        img(src=product.imageUrl, alt="Product name")
      div.left__info
        p.left__name #{product.name}
        p.left__price Price: $
          span #{product.price}
        p.description Description: 
          span #{product.description}

    div.product__right
      div.right__info
        form(action="/product/add/"+product._id, method = "post" id="productDetailForm")
          p Price
            span $#{product.price}
          p Status
            span In Stock
          p Quantity
            select(name="quantity" id="quantity")
              -var n = 1
              while n < product.countInStock + 1
                option(value=n) #{n}
                - n++
                
          p: button(type="submit") Add to Cart